<% if session[:msg] %>
  <p class="flash"><%= session.delete(:msg) %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <div class="filename"><a href="<%= file %>"><%= file %></a></div>
      <div class="edit"><a href="<%= file %>/edit">Edit</a></div>
      <form class="delete" action="/delete/<%= file %>" method="post">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">Add a Document</a></p>

<% if session[:username] %>
  <form action="users/signout" method="post">
    <label>
      Signed in as <%= session[:username] %>
      <input type="submit" value="Sign Out">
    </label>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <label>
      Already have an account?
      <input type="submit" value="Sign In">
    </label>
  </form>
<% end %>
